includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  ignoreErrors:
    -
      message: '#jsonDecode|urlQueryDecode#'
      path: src/Parser.php
      identifier: missingType.iterableValue
